body{
    background-image: url("abstract-scribble-icons-hand-drawn-doodle-coloring_179234-222.jpg");
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
}
.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px gray ;
}
.note{
    font-size: 15px;
    color:#000000;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    color:black;
    width: 100%;
    background-color: gray;
    line-height:3;
    text-align: center;
}
b{
    color:white;
}
canvas{
   border:5px solid white;
   border-radius: 20px;
   box-shadow: 10px 10px 10px gray;
}